{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>All Products:</h2>
    <ul class='d-flex flex-row'>
    {% for product in products %}
            <li class="list-unstyled">
                {{ product.title }} - ${{ product.price }} 
                <a href="/store/products/{{ product.slug }}">view</a> 
                <ul>
                    <a href="/store/products/{{ product.slug }}" class="col-3"><img class="w-50" src="/public/images/{{ product.Variants[0].Images[0].id }}{{ product.Variants[0].Images[0].extension }}"></a>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}